<!-- <div class="flex-container">
<mat-card class="container" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>What do you know about...</mat-card-title>
    <mat-card-subtitle>Choose your favourite quiz!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div> -->
<mat-card class="welcome-container">
  <mat-card-title>
    <h1 class="md-display-3 center">What do you know about...</h1>
  </mat-card-title>
  <mat-card-subtitle >
    <h1 class="md-display-2 center">Choose your favourite quiz!</h1>
  </mat-card-subtitle>
  <div class="flex-container" fxLayout="row" fxLayout.xs="column">
    <mat-card class="quiz-card">
      <a routerLink="/maths" class="img-link">
        <img mat-card-image src="assets/images/maths.png" alt="picture of math elements">
      </a>
      <div class="center">
        <a routerLink="/maths" color="primary" class="btn quiz-link-btn">Maths</a>
      </div>
    </mat-card>
    <mat-card class="quiz-card">
      <a routerLink="/egypt" class="img-link">
        <img mat-card-image src="assets/images/egyptians.png" alt="picture of egyptians">
      </a>
      <div class="center">
        <a routerLink="/egypt" color="primary" class="btn quiz-link-btn">Egyptians</a>
      </div>
    </mat-card>
    <mat-card class="quiz-card">
      <a routerLink="/islands" class="img-link">
        <img mat-card-image src="assets/images/island.png" alt="picture of islands">
      </a>
      <div class="center">
        <a routerLink="/islands" color="primary" class="btn quiz-link-btn">Islands</a>
      </div>
    </mat-card>
    <mat-card class="quiz-card">
     <a routerLink="/spices" class="img-link">
        <img mat-card-image src="assets/images/spices.png" alt="picture of spices">
      </a>
      <div class="center">
        <a routerLink="/spices" color="primary" class="btn quiz-link-btn">Spices</a>
      </div>
    </mat-card>

  </div>

</mat-card>