
.welcome-container {
    max-width: 1000px;
    margin: 200px auto;
}

.center {
    display: flex;
    justify-content: center;
}
.mat-card-subtitle.mat-mdc-card-subtitle h1 {
  color: rgba(0, 0, 0, .54);
}

.quiz-link-btn {   
    font-size: 30px;
    color: black;
    text-decoration: none !important;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.quiz-card {
  margin: 20px;
}

